<!-- Info -->
<div class="card mb-5" *ngFor="let challengess of challenge">
    <div class="card-body p-4">
      <!-- Details -->
      <div class="media d-block d-sm-flex">
        
        <div class="media-body">
          <!-- Header -->
          <div class="media mb-2">
            <div class="media-body">
              <h3 class="h5 mb-1">
                <a href="#">{{challenges.title}}</a>
              </h3>
              <ul class="list-inline font-size-1 text-muted">
                
                <li class="list-inline-item">By</li>
                <li class="list-inline-item text-muted">•</li>
                <li class="list-inline-item">
                    <a class="link-muted" href="#">
                      <span class="fas fa-building mr-1"></span>
                      {{challenges.empresa}}
                    </a>
                  </li>
              </ul>
            </div>
  
            <div class="d-flex ml-auto">
              <!-- Rating -->
              <div class="position-relative d-inline-block mr-2">
                  <div class="ml-md-auto">
                      <span class="btn btn-xs btn-soft-danger btn-pill">{{challenges.dificultad}}</span>
                    </div>
          
  
                <div id="rating7Dropdown" class="dropdown-menu dropdown-menu-right dropdown-unfold p-3" aria-labelledby="rating7DropdownInvoker" style="width: 190px;">
                  <div class="d-flex align-items-center mb-2">
                    <span class="text-warning mr-2">4.7</span>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item text-warning">
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star-half-alt"></span>
                      </li>
                    </ul>
                  </div>
  
                  <p class="text-dark mb-0">Overal Rating</p>
                  <p class="mb-0">Based on 120 reviews</p>
                </div>
              </div>
              <!-- End Rating -->
  
              <!-- Bookmark -->
              <!-- End Bookmark -->
            </div>
          </div>
          <!-- End Header -->
  
          <div class="mb-4 ">
            <p>{{challenges.descripcion}}, iterative development, testing, implementation and on-going support.</p>
          </div>
  
          <div class="d-md-flex align-items-md-center">
            <!-- Location -->
            <div class="u-ver-divider u-ver-divider--none-md pr-4 mb-3 mb-md-0 mr-4">
              <h4 class="small text-secondary mb-0">Lenguage</h4>
              <small class="fas fa-map-marker-alt text-secondary align-middle mr-1"></small>
              <span class="align-middle" *ngFor="let item of challenges.lenguajes">
                  <span class="badge badge-success ml-1">{{item}}</span>

              </span>
            </div>
            <!-- End Location -->
  
            <!-- Posted -->
            <div class="u-ver-divider u-ver-divider--none-md pr-4 mb-3 mb-md-0 mr-4">
              <h4 class="small text-secondary mb-0">Points</h4>
              <small class="fas fa-calendar-alt text-secondary align-middle mr-1"></small>
              <span class="align-middle">{{challenges.puntos}}</span>
            </div>
            <!-- End Posted -->
  
            <!-- Posted -->
            <div class="mb-3 mb-md-0">
              <h4 class="small text-secondary mb-0">Attempts</h4>
              <small class="fas fa-dollar-sign text-secondary align-middle mr-1"></small>
              <span class="align-items-md-center">{{challenges.intentos}}</span>
            </div>
            <!-- End Posted -->
  
            <div class="ml-md-auto">
                <button type="button" class="btn btn-primary">Read More</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Details -->
    </div>
  </div>
  <!-- End Info -->