<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--bg-transparent u-header--abs-top">
    <div class="u-header__section">
      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="navbar navbar-expand u-header__navbar">
          <!-- Logo -->
          <a class="navbar-brand u-header__navbar-brand" href="index.html" aria-label="Front">
          </a>
          <!-- End Logo -->
  
          <!-- Button -->
          <div class="ml-auto">
            <a class="btn btn-sm btn-primary transition-3d-hover" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">
              Buy Now
            </a>
          </div>
          <!-- End Button -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->