/* .items {
    width: 74%;
    float: right;
    margin-right: 2%;
}

.lef{
    width: 20%;
    float: left;
    margin-right: 2%;
    margin-left: 2%;
}

.h1{
    text-align: center;
}

.border-bottom{
    margin-right: 2%;
    margin-left: 2%;
} */
