<app-navbar></app-navbar>
<div class="container space-1 ">
  
    <app-search></app-search>
  
    <div class="row">
     <div class="col-lg-3 mb-6 mb-lg-0">
<div class="lef">  
     
  <!-- Sidebar Filter -->
<div class="card p-2">
    <!-- Asset Type -->
    <div class="border-bottom pb-4 mb-4">
       
      <label class="form-label mb-2">Lenguages</label>
      <span class="badge badge-success  ml-2">C#</span>
      <span class="badge badge-success ml-1">Java</span>
      <span class="badge badge-success ml-1">Python</span>
      <span class="badge badge-success ml-1">Kotlin</span>
      <span class="badge badge-success ml-1">C++</span>
      <span class="badge badge-success ml-1">C#</span>
      <span class="badge badge-success ml-1">Java</span>
      <span class="badge badge-success ml-1">Python</span>
      <span class="badge badge-success ml-1">C++</span>
      <span class="badge badge-success ml-1">Kotlin</span>
      <span class="badge badge-success ml-2">C#</span>
      <span class="badge badge-success ml-1">Java</span>
      <span class="badge badge-success ml-1">C++</span>
      <span class="badge badge-success ml-1">Python</span>
      <span class="badge badge-success ml-1">Java</span>
      <span class="badge badge-success ml-1">C++</span>
      <span class="badge badge-success ml-1">Python</span>
      <span class="badge badge-success ml-1">Kotlin</span>
    
      
      </div>
      
    <!-- End Asset Type -->

  </div>
  <!-- End Sidebar Filter -->
</div>
</div>
<div class="col-lg-9 mb-6 mb-lg-0">
<div class="items">
<app-item-list-challenge></app-item-list-challenge>
</div>
</div>
</div>
</div>
<app-footer></app-footer>