<!-- Search Section -->

    <div class="container space-2">
      <div class="row mx-gutters-2">
        <div class="col-lg mb-3 mb-lg-0">
          <!-- Search Property Input -->
          <div class="js-focus-state">
            <label class="sr-only" for="searchPropertySr">Search property</label>
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text" id="searchProperty">
                  <span class="fas fa-search"></span>
                </span>
              </div>
              <input type="text" class="form-control" name="text" id="searchPropertySr" placeholder="Search property" aria-label="Search property" aria-describedby="searchProperty" value="London">
            </div>
          </div>
          <!-- End Search Property Input -->
        </div>
  
        <div class="col-sm-auto ml-md-auto mb-3 mb-lg-0">
          <!-- Filter -->
          <div class="position-relative">
            <a id="filter2DropdownInvoker" class="btn btn-block btn-sm btn-soft-secondary dropdown-toggle" href="javascript:;" role="button"
               aria-controls="filter2Dropdown"
               aria-haspopup="true"
               aria-expanded="false"
               data-unfold-event="click"
               data-unfold-target="#filter2Dropdown"
               data-unfold-type="css-animation"
               data-unfold-duration="300"
               data-unfold-delay="300"
               data-unfold-animation-in="slidefadeIn"
               data-unfold-animation-out="fadeOut">
              <span class="fas fa-home dropdown-item-icon"></span>
              Property type
            </a>
  
            <div id="filter2Dropdown" class="dropdown-menu dropdown-unfold dropdown-menu-lg-right dropdown-menu-size-md p-5" aria-labelledby="filter2DropdownInvoker">
              <div class="row">
                <div class="col-sm-6 u-ver-divider u-ver-divider--none-sm mb-4 mb-sm-0">
                  <!-- Radio Checkbox -->
                  <div class="custom-control custom-radio mb-2">
                    <input type="radio" class="custom-control-input" id="propertyRadioChechbox1" name="propertyRadioChechbox" checked>
                    <label class="custom-control-label" for="propertyRadioChechbox1">
                      Show all
                    </label>
                  </div>
                  <!-- End Radio Checkbox -->
  
                  <!-- Radio Checkbox -->
                  <div class="custom-control custom-radio mb-2">
                    <input type="radio" class="custom-control-input" id="propertyRadioChechbox2" name="propertyRadioChechbox">
                    <label class="custom-control-label" for="propertyRadioChechbox2">
                      Houses
                    </label>
                  </div>
                  <!-- End Radio Checkbox -->
  
                  <!-- Radio Checkbox -->
                  <div class="custom-control custom-radio mb-2">
                    <input type="radio" class="custom-control-input" id="propertyRadioChechbox3" name="propertyRadioChechbox">
                    <label class="custom-control-label" for="propertyRadioChechbox3">
                      Flats
                    </label>
                  </div>
                  <!-- End Radio Checkbox -->
  
                  <!-- Radio Checkbox -->
                  <div class="custom-control custom-radio mb-2">
                    <input type="radio" class="custom-control-input" id="propertyRadioChechbox4" name="propertyRadioChechbox">
                    <label class="custom-control-label" for="propertyRadioChechbox4">
                      Multi-family
                    </label>
                  </div>
                  <!-- End Radio Checkbox -->
  
                  <!-- Radio Checkbox -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="propertyRadioChechbox5" name="propertyRadioChechbox">
                    <label class="custom-control-label" for="propertyRadioChechbox5">
                      Farms/land
                    </label>
                  </div>
                  <!-- End Radio Checkbox -->
                </div>
  
                <div class="col-sm-6">
                  <!-- Radio Checkbox -->
                  <div class="custom-control custom-radio mb-2">
                    <input type="radio" class="custom-control-input" id="propertyAddedTimeRadioChechbox1" name="propertyAddedTimeRadioChechbox" checked>
                    <label class="custom-control-label" for="propertyAddedTimeRadioChechbox1">
                      Added anytime
                    </label>
                  </div>
                  <!-- End Radio Checkbox -->
  
                  <!-- Radio Checkbox -->
                  <div class="custom-control custom-radio mb-2">
                    <input type="radio" class="custom-control-input" id="propertyAddedTimeRadioChechbox2" name="propertyAddedTimeRadioChechbox">
                    <label class="custom-control-label" for="propertyAddedTimeRadioChechbox2">
                      Last 24 hours
                    </label>
                  </div>
                  <!-- End Radio Checkbox -->
  
                  <!-- Radio Checkbox -->
                  <div class="custom-control custom-radio mb-2">
                    <input type="radio" class="custom-control-input" id="propertyAddedTimeRadioChechbox3" name="propertyAddedTimeRadioChechbox">
                    <label class="custom-control-label" for="propertyAddedTimeRadioChechbox3">
                      Last 7 days
                    </label>
                  </div>
                  <!-- End Radio Checkbox -->
  
                  <!-- Radio Checkbox -->
                  <div class="custom-control custom-radio mb-2">
                    <input type="radio" class="custom-control-input" id="propertyAddedTimeRadioChechbox4" name="propertyAddedTimeRadioChechbox">
                    <label class="custom-control-label" for="propertyAddedTimeRadioChechbox4">
                      Last 14 days
                    </label>
                  </div>
                  <!-- End Radio Checkbox -->
  
                  <!-- Radio Checkbox -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="propertyAddedTimeRadioChechbox5" name="propertyAddedTimeRadioChechbox">
                    <label class="custom-control-label" for="propertyAddedTimeRadioChechbox5">
                      Last 30 days
                    </label>
                  </div>
                  <!-- End Radio Checkbox -->
                </div>
              </div>
            </div>
          </div>
          <!-- End Filter -->
        </div>
  
  
        <div class="col-sm-auto">
          <button type="submit" class="btn btn-sm btn-primary">Search</button>
        </div>
      </div>
    </div>

  <!-- End Search Section -->